body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: #13293D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 250px;
}

ul {
    list-style-type: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    font-size: 14px;
    color: white;
    padding: 8px;
    text-decoration: none;
}





.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
    background-color: #13293D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}