body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24pt;
    background-color: #13293D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 250px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    color: white;
    padding: 8px;
    text-decoration: none;
}

.header-links {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14pt;
}

.block-1 {
    background: #13293D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 250px;
}

.modal {
    background: #13293D;
    width: 480px;
}

.heading {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 48pt;
}

.subtext {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    margin: 10px 0;
}

button {
    background: royalblue;
    border: 1px solid royalblue;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.awesome-image img {
    width: 350px;
    height: auto;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
    background-color: #13293D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}